<div class="container text-center">
<div><h3><a href="{{work.link}}" class="color">{{ work.title}}</a></h3></div>
<div><img src="{{work.image}}" class="scale"/></div>
</div>
{{# if nextPage }}
<a href="/works/{{nextPage}}">Next</a>
{{/if}}
